//TIPOGAFIA
$fuente_principal: 'Montserrat', sans-serif;

$verde : rgb(32, 201, 144);
$rosa: rgb(199, 10, 98);
$amarillo: #fef46D;
$negro: black;
$blanco: white;
$morado: rgb(151, 14, 117);

//Tamaños de media queris

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
